@font-face {
    font-family: "bunPil";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/bunPil/bunPil.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/bunPil/bunPil.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/bunPil/bunPil.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/bunPil/bunPil.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/bunPil/bunPil.ttf") format("truetype");
    font-display: swap;
} 
.bunPil {
    font-family: "bunPil";
}